* {
    font-size: 48px;
}

h1 {
    font-size: 76px;
    text-align: center;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    cursor: wait;
}

/* p::first-letter {
    font-size: 2em;
    color: red;
    font-weight: bolder;
} */

/* p::first-line {
    background-color: rgb(128, 197, 199);
    color: white;
} */

p::selection {
    color: blueviolet;
    background-color: yellow;
    cursor: zoom-in;
    text-shadow: 1px 1px 2px black;
}