* {
    font-size: 48px;
}

h1 {
    position: relative;
    font-size: 76px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: greenyellow;
    background-color: indigo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1:before,
h1::after {
    position: absolute;
    content: url(./../icons/adobe-acrobat.svg);
    width: 50px;
    display: inline-block;
}

h1::before {
    left: 100%;
}

h1::after {
    right: 100%;
}

p::before {
    content: open-quote;
    color: red;
    font-size: 2em;
}